*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}
body{
    background: linear-gradient(135deg, #E0F7FF, #B3ECFF, #87DFFF);
    overflow: hidden;
    color: white;
}

.page{
position:absolute;
width:100%;
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
opacity:0;
visibility:hidden;
transition:1s;
}

.page.active{
opacity:1;
visibility:visible;
}

.overlay{
position:absolute;
width:100%;
height:100%;
background:rgba(0,0,0,.45);
z-index:-1;
}

.content{
max-width:700px;
}

h1{
font-size:50px;
margin-bottom:20px;
}

h2{
font-size:35px;
margin-bottom:20px;
}

h3{
font-size:25px;
color:#ffd54f;
margin-bottom:15px;
}

p{
font-size:20px;
line-height:1.8;
max-width:700px;
}

button{
margin-top:35px;
padding:16px 40px;
border:none;
border-radius:50px;
font-size:20px;
cursor:pointer;
transition:.35s;
font-weight:bold;
}

button:hover{
transform:scale(1.08);
}

#startBtn,
#next1,
#next2,
#next3,
#yesBtn{
background:#ff4081;
color:white;
box-shadow:0 0 25px #ff4081;
}

#noBtn{
background:#616161;
color:white;
position:relative;
}

.slider{
width:320px;
height:420px;
margin:30px auto;
position:relative;
}

.slide{
position:absolute;
width:100%;
height:100%;
object-fit:cover;
border-radius:25px;
box-shadow:0 15px 40px rgba(0,0,0,.5);
opacity:0;
transform:scale(.95);
transition:1s;
}

.slide.active{
opacity:1;
transform:scale(1);
}

.caption{
margin-top:15px;
font-size:22px;
color:#ffd54f;
}

#typing{
width:90%;
max-width:700px;
min-height:220px;
font-size:24px;
line-height:2;
padding:30px;
border-radius:25px;
background:rgba(255,255,255,.08);
backdrop-filter:blur(8px);
box-shadow:0 0 30px rgba(255,255,255,.08);
}

.loveText{
font-size:70px;
color:#ff4d6d;
animation:glow 1.5s infinite alternate;
}

@keyframes glow{

from{
text-shadow:0 0 10px #ff4d6d;
}

to{
text-shadow:0 0 40px #ff1744;
}

}

.buttons{
display:flex;
gap:25px;
margin-top:40px;
}

#success h1{
font-size:70px;
color:#ffd54f;
}

#success h2{
color:#ff80ab;
}

.hearts::before,
.hearts::after{
content:"❤️";
position:absolute;
font-size:30px;
animation:float 8s linear infinite;
}

.hearts::after{
left:80%;
animation-delay:4s;
}

@keyframes float{

0%{
transform:translateY(100vh);
opacity:0;
}

20%{
opacity:1;
}

100%{
transform:translateY(-120vh);
opacity:0;
}

}

@media(max-width:768px){

h1{
font-size:36px;
}

h2{
font-size:28px;
}

p{
font-size:18px;
}

.slider{
width:260px;
height:340px;
}

button{
font-size:18px;
padding:14px 28px;
}

.loveText{
font-size:48px;
}

}
#gallery,
#letter,
#love,
#question,
#success{
    background: linear-gradient(135deg,#E0F7FF,#B3ECFF,#87DFFF);
    color:#111;
}